.voltar{
    color:#f8f8f8;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
    text-align: center;
}
header {
    background-color: #6200ea;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    color: #bb86fc;
    text-decoration: none;
    font-size: 18px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 80vh;
}
.carrinho {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(98, 0, 234, 0.5);
    padding: 25px;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carrinho h2 {
    font-size: 26px;
    color: #bb86fc;
    margin-bottom: 15px;
}
ul#carrinho-lista {
    list-style-type: none;
    padding: 0;
    width: 100%;
}
.item-carrinho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
    border-bottom: 1px solid #333;
}
.item-carrinho img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
}
.item-carrinho span {
    flex-grow: 1;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: #e0e0e0;
    margin-right: 20px;
}
.item-carrinho p {
    margin: 0;
    color: #03dac6;
    font-weight: bold;
}
ul li button{
   border-radius: 25px;
   border: none;
   margin: 20px;
   width: 80px;
   height: 25px;
   background-color: #6200ea;
   cursor: pointer;
   font-weight: bold;
   color: #e0e0e0;
}
.remover {
    background-color: #cf6679;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}
.remover:hover {
    background-color: #b00020;
}
.total {
    font-size: 22px;
    margin-top: 20px;
    color: #bb86fc;
    font-weight: bold;
}
.finalizar {
    background-color: #03dac6;
    color: #121212;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    transition: background 0.3s;
}
.finalizar:hover {
    background-color: #00c4b4;
}

#mensagem-erro{
    display: none;
    color: #03dac6;
    margin-top: 45px;
    font-weight: bold;
}
footer {
    background-color: #1e1e1e;
    color: #bb86fc;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

footer a {
    color: #03dac6;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
